@model List<ASP.NET_MVC_Forum.Areas.Admin.Models.User.UserViewModel>;

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/admin-users-table.css">


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div>

    @if (TempData.ContainsKey("SuccessMessage"))
    {
        <div class="alert alert-success pb-2 mb-0 text-center" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    else if (TempData.ContainsKey("ErrorMessage"))
    {
        <div class="alert alert-danger pb-2 mb-0 text-center" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="table-responsive p-0 m-0 bg-dark">
        <div class="table-wrapper p-0">
            <table class="table table-dark table-hover bg-dark">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Roles</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>
                                <!-- Button -->
                                <button data-toggle="modal" data-target="#user@(user.Id)" class="p-1 rounded-pill bg-dark btn-outline-light text-white">
                                    @user.Username
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="user@(user.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-footer bg-dark justify-content-center">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>

                                                @{
                                                    if (user.Roles.Count == 0)
                                                    {
                                                        <button type="button" class="btn btn-success">Promote</button>
                                                    }

                                                    if (user.IsBanned)
                                                    {
                                                        <a asp-area="Admin" asp-controller="Users" asp-action="RemoveBan" asp-route-userId="@user.Id" type="button" class="btn btn-primary text-light">Unban</a>
                                                    }
                                                    else
                                                    {
                                                        if (!user.Roles.Contains("Administrator"))
                                                        {
                                                            <a asp-area="Admin" asp-controller="Users" asp-action="Ban" asp-route-userId="@user.Id" type="button" class="btn btn-danger text-light">Ban</a>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>@user.CreatedOn.ToShortDateString()</td>
                            @{ if (user.Roles.Count == 0)
                                {
                                    <td>User</td>
                                }
                                else
                                {
                                    foreach (var role in user.Roles)
                                    {
                                        <td>@role<br /></td>
                                    }
                                }
                                @if (user.IsBanned)
                                {
                                    <td><span class="status text-danger">&bull;</span>Ban</td>
                                }
                                else
                                {
                                    <td><span class="status text-success">&bull;</span>Active</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
