@model List<(string chartName, string url)>;

<div class="m-1 text-center">
    <select id="select-chart" onchange="getChart()" class="form-select bg-dark text-white text-center shadow" aria-label="Default select example">
        <option value="@Model[0].url" selected>@Model[0].chartName</option>

        @for (int i = 1; i < @Model.Count; i++)
        {
            <option value="@Model[i].url">@Model[i].chartName</option>
        }

    </select>
</div>



<canvas id="myChart"></canvas>

<ul id="itemslist" class="list-group">
</ul>

<div class="text-center mt-3 mb-3">
    <a type="button" id="download-chart-image" class="btn btn-primary col-10 disabled" href="">Download chart</a>
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <script src="~/js/chart-js-setup.js"></script>

}
