@using static ASP.NET_MVC_Forum.Domain.Constants.ClientMessage.MessageType;
@using static ASP.NET_MVC_Forum.Domain.Constants.RoleConstants;
@using ASP.NET_MVC_Forum.Domain.Models.Post;
@model ASP.NET_MVC_Forum.Domain.Models.PaginatedList<PostPreviewViewModel>
<link rel="stylesheet" href="~/css/postsAll.css" />

@{
    var previousDisabled = !Model.HasPreviousPage ? "disabled border" : "border-dark";
    var nextDisabled = !Model.HasNextPage ? "disabled border" : "border-dark";
}

<form method="get" asp-area="" asp-controller="Home" asp-action="Index">
    <div class="form-row">
        <div class="col-4">
            <select asp-items=@ViewBag.SortTypeLibrary name="sortType" class="form-select form-control" onchange="this.form.submit()">
            </select>
        </div>
        <div class="col-4">
            <select asp-items=@ViewBag.SortOrderOptions name="sortOrder" class="form-select form-control" onchange="this.form.submit()">
            </select>
        </div>
        <div class="col-4">
            <select asp-items=@ViewBag.CategoryNames name="category" class="form-select form-control" onchange="this.form.submit()">
            </select>
        </div>
    </div>
    <div class="form-row mt-3 text-center">
        <div class="col-lg-1 col-md-1 col-sm-3 m-1">
            <select asp-items=@ViewBag.ViewCountOptions name="viewCount" class="form-select form-control text-center" onchange="this.form.submit()">
            </select>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-5 m-1">
            <input name="searchTerm" value="@ViewBag.SearchTerm" class="form-control text-center" type="search" placeholder="post name..." aria-label="Search">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-3 m-1">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </div>
</form>


<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mb-4 mt-4">
                <div class="card-footer align-items-center px-0 pt-0 pb-3">
                    <div class="px-2 pt-3 text-center">
                        <a class="text-dark font-weight-bolder font-italic" asp-action="ViewPost" asp-controller="Posts" asp-route-postId="@post.PostId">@post.Title</a>
                    </div>
                </div>
                <div class="card-body mb-2" style="max-height:230px">
                    <a class="text-dark" asp-action="ViewPost" asp-controller="Posts" asp-route-postId="@post.PostId" asp-route-postTitle="@post.Title">@Html.Raw(post.ShortDescription)</a>
                </div>
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="@post.UserImageUrl" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">@post.UserUsername</a>
                            <div class="text-muted small">@post.PostCreationDate</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>@post.UserMemberSince</strong></div>
                            <div><strong>@post.UserPostsCount</strong> posts</div>
                        </div>
                    </div>

                    <div class="text-center">
                        @if (this.User.Identity.Name == post.UserIdentityUserUsername || this.User.IsInRole(ADMIN_ROLE) || this.User.IsInRole(MODERATOR_ROLE))
                        {
                            <button type="button" class="btn btn-danger m-2" data-toggle="modal" data-target="#exampleModalCenterDelete-@post.PostId">
                                Delete
                            </button>
                            <div class="modal fade" id="exampleModalCenterDelete-@post.PostId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this post ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            <form asp-action="Delete" asp-controller="Posts" asp-route-postId="@post.PostId" asp-route-postTitle="@post.Title" method="post">
                                                <input type="submit" class="btn btn-success" value="Yes" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a type="button" class="btn btn-warning m-4" asp-action="Edit" asp-controller="Posts" asp-route-postId="@post.PostId">Edit</a>
                        }
                        <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#exampleModalCenterReport-@post.PostId">
                            Report
                        </button>

                        <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenterReport-@post.PostId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Please provide a reason for the report</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" asp-controller="Posts" asp-action="Report" asp-route-postId="@post.PostId">
                                        <div class="modal-body">
                                            <textarea name="content" class="p-4" placeholder="Enter your reason(s) here..."></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="form-row text-center">
    <div class="col-12">
        <a asp-action="Index"
           asp-route-category="@(ViewBag.CategoryNames.SelectedValue)"
           asp-route-searchTerm="@(ViewBag.SearchTerm)"
           asp-route-sortType="@(ViewBag.SortTypeLibrary.SelectedValue)"
           asp-route-sortOrder="@(ViewBag.SortOrderOptions.SelectedValue)"
           asp-route-viewCount="@(ViewBag.ViewCountOptions.SelectedValue)"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @previousDisabled w-50">
            <i class="bi bi-arrow-left"></i> Previous
        </a>
        <div class="col-12 mt-4">
            <a asp-action="Index"
               asp-route-category="@(ViewBag.CategoryNames.SelectedValue)"
               asp-route-searchTerm="@(ViewBag.SearchTerm)"
               asp-route-sortType="@(ViewBag.SortTypeLibrary.SelectedValue)"
               asp-route-sortOrder="@(ViewBag.SortOrderOptions.SelectedValue)"
               asp-route-viewCount="@(ViewBag.ViewCountOptions.SelectedValue)"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled w-50">
                Next <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>