@model List<ASP.NET_MVC_Forum.Areas.Admin.Models.CommentReport.CommentReportViewModel>;
@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["Message"]
    </div>
}

<div class="row border-bottom-0 mr-0 mt-1 border-left justify-content-center">
    @foreach (var report in @Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card text-center border-right border-left border-dark">
                <div class="card-body d-flex flex-column" style="min-height:180px">
                    <p class="card-text text-danger">Profane words found in comment content: @report.ShortReason...</p>

                    <!-- Button trigger modal -->

                    <button type="button" class="btn btn-primary mt-auto" data-toggle="modal" data-target="#reportId@(report.Id)">
                        View Report
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="reportId@(report.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h5>Comment full content</h5>
                                </div>
                                <div class="modal-body">
                                    <span>@report.CommentContent</span>
                                </div>
                                <div class="modal-body">
                                    Profane words found in comment content: <span class="text-danger">@report.Reason</span>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>

                                    @if (!report.IsDeleted)
                                    {
                                        <form method="post">
                                            <button type="submit" asp-area="Admin" asp-controller="CommentReports" asp-action="Delete" asp-route-postId="@report.CommentId" class="btn btn-danger">Delete comment and resolve</button>
                                        </form>

                                        <a asp-area="Admin" asp-controller="CommentReports" asp-action="Resolve" asp-route-reportId="@report.Id" class="btn btn-success">Mark Resolved</a>

                                        <a asp-area="Admin" asp-controller="CommentReports" asp-action="Censor" asp-route-commentId="@report.CommentId" class="btn btn-primary">Censor</a>

                                        <a asp-area="Admin" asp-controller="CommentReports" asp-action="Censor" asp-route-commentId="@report.CommentId" asp-route-withRegex="@true" class="btn btn-primary">Hard Censor</a>

                                    }
                                    else
                                    {
                                        <a asp-area="Admin" asp-controller="CommentReports" asp-action="Restore" asp-route-reportId="@report.Id" class="btn btn-primary">Restore comment and report</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted bg-dark">
                    <span class="text-light">@report.CreatedOnAsString</span>
                </div>
            </div>
        </div>
    }
</div>
