@model ASP.NET_MVC_Forum.Models.Post.ViewPostViewModel;
@using static ASP.NET_MVC_Forum.Data.DataConstants.RoleConstants;
@using static ASP.NET_MVC_Forum.Infrastructure.Extensions.ClaimsPrincipalExtensions;
@inject ASP.NET_MVC_Forum.Services.User.IUserService userService;

@{
    ViewData["Title"] = "View Post";
    @Html.HiddenFor(x => x.PostId);

    string currUserAvatar;

    if (this.User.Identity.IsAuthenticated)
    {
        currUserAvatar = userService.GetUserAvatar(this.User.Id());
    }
    else
    {
        currUserAvatar = "/avatar/defaultUserImage.png";
    }

    var userUsername = this.User.Identity.Name;

    string thumbsUpClass = "bi bi-hand-thumbs-up p-1 mr-4";
    string thumbsDownClass = "bi bi-hand-thumbs-down p-1 mr-4";

    if (Model.UserLastVoteChoice == 1)
    {
        thumbsUpClass = "bi bi-hand-thumbs-up-fill p-1 mr-4";
    }
    else if (Model.UserLastVoteChoice == -1)
    {
        thumbsDownClass = "bi bi-hand-thumbs-down-fill p-1 mr-4";
    }
}
<input type="hidden" value="@userUsername" id="currentUserUsername" />
<input type="hidden" value="@this.User.IsInRole("Administrator").ToString()" id="isAdmin" />

<link rel="stylesheet" href="~/css/comments.css" />
<link rel="stylesheet" href="~/css/postsAll.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<style>
</style>

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3 mt-3">
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="ml-2 pt-3">
                        <h5 class="text-dark font-weight-bold">@Model.Title</h5>
                    </div>
                    <div class="mr-2 pt-3 text-center">
                        <a type="button" href='javascript:history.go(-1)' class="btn btn-secondary float-sm-right"><i class="ion ion-md-create"></i>Go Back</a>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.HtmlContent)
                </div>

                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="@Model.UserImageUrl" class="avatarImage ui-w-40 rounded-circle" alt="">

                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">@Model.UserUsername</a>
                            <div class="text-muted small">@Model.PostCreationDate</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>@Model.UserMemberSince</strong></div>
                            <div><strong>@Model.UserPostsCount</strong> posts</div>
                        </div>
                    </div>
                    <div class="text-center">
                        @if (this.User.Identity.Name == Model.UserIdentityUserUsername || this.User.IsInRole(AdminRoleName) || this.User.IsInRole(AdminRoleName))
                        {
                            <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#exampleModalCenterDelete-@Model.PostId">
                                Delete
                            </button>
                            <div class="modal fade" id="exampleModalCenterDelete-@Model.PostId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this post ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            <form asp-action="Delete" asp-controller="Posts" asp-route-postId="@Model.PostId" asp-route-postTitle="@Model.Title" method="post">
                                                <input type="submit" class="btn btn-success" value="Yes" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a type="button" class="btn btn-warning m-1" asp-action="Edit" asp-controller="Posts" asp-route-postId="@Model.PostId">Edit</a>
                        }
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterReport-@Model.PostId">
                            Report
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenterReport-@Model.PostId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Please provide a reason for the report</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" asp-controller="Posts" asp-action="Report" asp-route-postId="@Model.PostId">
                                        <div class="modal-body">
                                            <textarea name="content" class="p-4" placeholder="Enter your reason(s) here..."></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="px-4 pt-3 text-center">
    <a type="button" href='javascript:history.go(-1)' class="btn btn-secondary justify-content-center"><i class="ion ion-md-create"></i>Go Back</a>
</div>


<form id="votesForm" method="post"></form>

<div class="px-4 pt-3 text-center mt-3">
    <a href="#voteSum" onclick="sendVote(@Model.PostId, false)"><i id="down" style="color:red" class="@thumbsDownClass p-1 mr-4"></i></a>
    <span id="voteSum">@Model.VoteSum</span>
    <a href="#voteSum" onclick="sendVote(@Model.PostId, true)"><i id="up" style="color:green" class="@thumbsUpClass p-1 ml-4 "></i></a>
</div>


<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="d-flex flex-row justify-content-center comment-top p-2 bg-white border-bottom px-4">
                <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"></div>
                <div class="d-flex flex-column ml-3">
                    <div class="d-flex flex-row post-title">
                    </div>
                    <div class="d-flex flex-row align-items-center align-content-center post-title"><span id="commentCount" class="mr-2 font-weight-bold">@Model.CommentsCount</span><span class="font-weight-bold">comments</span></div>
                </div>
            </div>
            <div class="coment-bottom bg-white p-2 px-4">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <form method="post" id="commentsForm">
                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                            <img class="avatar-comment img-responsive rounded-circle mr-2" src="@currUserAvatar" width="30" height="30">
                            <input type="text" class="form-control mr-3" placeholder="Add comment" id="comment">
                            <button id="sendComment" class="btn btn-primary">Comment</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="text-center">
                        <p>Please <a href="/Identity/Account/Login">Login</a> if you wish to post a comment</p>
                    </div>
                }
                <div class="collapsable-comment">
                    <div class="d-flex flex-row justify-content-between align-items-center action-collapse p-2" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1">
                        <span>Comments</span><i id="serviceDrop" class="fa fa-chevron-down servicedrop"></i>
                    </div>
                    <div id="collapse-1" class="collapse">
                        @*-------------COMMENT--------------*@
                        <div class="commented-section mt-2">
                            <div class="commented-section mt-2 commentsArray">
                            </div>
                        </div>
                        @*-------------COMMENT--------------*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/comments.js" asp-append-version="true"></script>
    <script src="~/js/votes.js" asp-append-version="true"></script>
}
