@model ASP.NET_MVC_Forum.Models.Post.ViewPostViewModel;
@using System.Security.Claims;
@{
    ViewData["Title"] = "View Post";
    var userUsername = this.User.Identity.Name;
    @Html.HiddenFor(x => x.PostId)
}


<link rel="stylesheet" href="~/css/comments.css" />
<link rel="stylesheet" href="~/css/postsAll.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<style>
</style>

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3 mt-3">
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                    <div class="ml-2 pt-3">
                        <h5 class="text-dark font-weight-bold">@Model.Title</h5>
                    </div>
                    <div class="mr-2 pt-3 text-center">
                        <a type="button" href='javascript:history.go(-1)' class="btn btn-secondary float-sm-right"><i class="ion ion-md-create"></i>Go Back</a>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.HtmlContent)
                </div>

                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="~/img/defaultUserImage.png" class="d-block ui-w-40 rounded-circle" alt="">

                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" data-abc="true">@Model.UserUsername</a>
                            <div class="text-muted small">@Model.PostCreationDate</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>@Model.UserMemberSince</strong></div>
                            <div><strong>@Model.UserPostsCount</strong> posts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 pt-3 text-center">
    <a type="button" href='javascript:history.go(-1)' class="btn btn-secondary justify-content-center"><i class="ion ion-md-create"></i>Go Back</a>
</div>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="d-flex flex-row justify-content-center comment-top p-2 bg-white border-bottom px-4">
                <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"></div>
                <div class="d-flex flex-column ml-3">
                    <div class="d-flex flex-row post-title">
                    </div>
                    <div class="d-flex flex-row align-items-center align-content-center post-title"><span id="commentCount" class="mr-2 font-weight-bold">@Model.CommentsCount</span><span class="font-weight-bold">comments</span></div>
                </div>
            </div>
            <div class="coment-bottom bg-white p-2 px-4">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <form method="post" id="commentsForm">
                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                            <img class="img-fluid img-responsive rounded-circle mr-2" src="~/img/defaultUserImage.png" width="38">
                            <input type="text" class="form-control mr-3" placeholder="Add comment" id="comment">
                            <button id="sendComment" class="btn btn-primary">Comment</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="text-center">
                        <p>Please <a href="/Identity/Account/Login">Login</a> if you wish to post a comment</p>
                    </div>
                }
                <div class="collapsable-comment">
                    <div class="d-flex flex-row justify-content-between align-items-center action-collapse p-2" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1">
                        <span>Comments</span><i id="serviceDrop" class="fa fa-chevron-down servicedrop"></i>
                    </div>
                    <div id="collapse-1" class="collapse">
                        @*-------------COMMENT--------------*@
                        <div class="commented-section mt-2">
                            <div class="commented-section mt-2 commentsArray">

                            </div>
                        </div>
                        @*-------------COMMENT--------------*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

